﻿@model Assignment_1.Models.Event

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_dateLayout.cshtml"; 
}




<div class="container">
    <h3 style="margin-top:50px">Are you sure you want to delete this event?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FivekmRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FivekmRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenkmRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenkmRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfMarathon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfMarathon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullMarathon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullMarathon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>

            @if (Convert.ToInt32(Model.EventType) == 1)
            {

                @:Community Run
            }
            else
            {

                @:Professional Event
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", "", new {@class= "btn btn-success" })
        </div>
    }
</div>
