﻿@model Assignment_1.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}


<div class="container" style="margin-top:50px">
    <h3>EVENT DETAILS : @Model.EventName </h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName, new { @class = "form-control" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location, new { @class = "form-control" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FivekmRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FivekmRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenkmRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenkmRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfMarathon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfMarathon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullMarathon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullMarathon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>

            @if (Convert.ToInt32(Model.EventType) == 1)
            {

                @:Community Run
            }
            else
            {

                @:Professional Event
            }

        </dd>

    </dl>

    <p>
        @if (Model.DateOfEvent > DateTime.Now)
        {
            @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.EventId }, new { @class = "btn btn-success" })
        }

        @Html.ActionLink("Back to Event List", "Index", "Events", null, new { @class = "btn btn-success" })
    </p>

</div>

