﻿@model Assignment_1.Models.Event

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}

<div class="container">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div style="margin-top:50px">
        <h3>EDIT EVENT : @Model.EventName</h3>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventId)

        <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
                @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control color-green" } })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control color-green" , @id = "location" 
                    } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
                @{ Html.EnableClientValidation(false); }
                @Html.LabelFor(model => model.DateOfEvent, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.DateOfEvent, new { htmlAttributes = new { @class = "form-control date-picker color-green" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.DateOfEvent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
                @Html.LabelFor(model => model.EventType, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownListFor(model => model.EventType, (SelectList)ViewBag.EventType, new { @class = "form-control color-green" })
                    @Html.ValidationMessageFor(model => model.EventType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

     
        <div class="col-md-12 col-sm-12" style="margin-top:20px">
            <h4 class="col-md-12 control-label"> SELECT THE EVENTS </h4>
        </div>

        <hr style="width:100%"/>

        <div class="form-row">
            <div class="form-group col-md-12 col-sm-12">

                <div class="col-md-4 col-sm-4" style="margin-top:40px">
                    @Html.LabelFor(model => model.FivekmRace, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <div class="checkbox col-md-offset-2 col-xs-offset-1">
                            @Html.EditorFor(model => model.FivekmRace)
                            @Html.ValidationMessageFor(model => model.FivekmRace, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4" style="margin-top:40px;">
                    @Html.LabelFor(model => model.TenkmRace, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <div class="checkbox col-md-offset-2 col-xs-offset-1">
                            @Html.EditorFor(model => model.TenkmRace)
                            @Html.ValidationMessageFor(model => model.TenkmRace, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-sm-4" style="margin-top:40px;">
                    @Html.LabelFor(model => model.HalfMarathon, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <div class="checkbox col-md-offset-2 col-xs-offset-1">
                            @Html.EditorFor(model => model.HalfMarathon)
                            @Html.ValidationMessageFor(model => model.HalfMarathon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4" style="margin-top:40px;">
                    @Html.LabelFor(model => model.FullMarathon, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <div class="checkbox col-md-offset-2 col-xs-offset-1">
                            @Html.EditorFor(model => model.FullMarathon)
                            @Html.ValidationMessageFor(model => model.FullMarathon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="col-md-1 col-sm-1 col-xs-3" style="margin-top:40px">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-3" style="margin-top:40px; margin-left:10px">
                @Html.ActionLink("List of Events", "Index", "Events", null, new { @class = "btn btn-success" })
            </div>

            <div class="col-md-2 col-xs-12 col-sm-12" style="margin-top:40px;float:right">
               @Html.ActionLink("Delete", "Delete", "Events", new { id = Model.EventId }, new { @class = "btn btn-danger delete-button" }) 
                
            </div>

            </div>

        </div>
            }

      

        </div>

    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")
        

    }
