﻿@model IEnumerable<Assignment_1.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}


<div class="container">

    <div class="col" style="margin-top:40px;margin-bottom:40px;">

        <h2 class="col-sm-10 col-md-10"> YOUR EVENTS </h2>


        <p style="float:right">
            @Html.ActionLink("Create New", "Create", "Events", null, new { @class = "btn btn-success" })
        </p>    


    </div>

    
    <div style="margin-top:30px">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfEvent)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        
                            @Html.DisplayFor(modelItem => item.DateOfEvent)
                        

                    </td>
                    <td>
                        @if (item.DateOfEvent >= DateTime.Now)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) 
                        }
                        else
                        {
                            <del class="text-danger"> Edit </del>
                        }

                         | @Html.ActionLink("Details", "Details", new { id = item.EventId })

                        

                    </td>
                </tr>
            }

        </table>
    </div>


</div>