﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Register Screen*/

/* Setting login screen background*/



li {
    font-size : 15px;
    text-transform:uppercase;
    color: #FFFFFF;
}

.navbar {
    background: linear-gradient(to right, rgba(210,255,82,1) 100%, rgba(145,232,66,1) 100%); 
    /*background-color: black; */
    border: none;
}





label {
    color: #222222;
}

.navbar-brand {

    font-size :3em;
    margin-top:10px;

}



.button-gold {
    background-color: #C0B283;
}


/* Login Screen */

.login-body {
    /*background-image: url('http://localhost:59345/Images/bg_11.jpg'); */
    background-color: white;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .login-body p {
        color: #222222;
    }


.runner {
    background: linear-gradient(to right, rgba(76,76,76,0.5) 0%, rgba(19,19,19,0.5) 100%), url('http://localhost:59345/Images/login_runner_3.jpg');
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
}


.organizer {
    background: linear-gradient(to right, rgba(76,76,76,0.5) 0%, rgba(19,19,19,0.5) 100%), url('http://localhost:59345/Images/org_2.jpg');
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
}

.runner:hover {
    background: linear-gradient(to right, rgba(76,76,76,0.5) 0%, rgba(19,19,19,0.5) 100%), url('http://localhost:59345/Images/login_runner_3.jpg');
    -webkit-transition: opacity 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    cursor: pointer;
}

.organizer:hover {
    background: linear-gradient(to right, rgba(76,76,76,0.5) 0%, rgba(19,19,19,0.5) 100%), url('http://localhost:59345/Images/org_2.jpg');
    transition: opacity .5s;
    color: greenyellow;
    -webkit-transition: opacity 0.5s;
    opacity: 1;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}



    .runner h1, .organizer h1 {
        color:white;
        margin-top: 30%
    }

    .runner:hover h1 {

        color:greenyellow;
        font-weight:bolder;
        margin-top:30%;

    }


.organizer:hover h1 {
    color: greenyellow;
    font-weight: bolder;
    margin-top: 30%;
}




.btn-login {
    background-color: #6fbb95
}


    .btn-login:hover {
        background-color: white;
    }

button a , span a{
    
    color : inherit;

}

 button a:hover, span a:hover {
        text-decoration: none;
        color: #6fbb95;

 }


a {
    color: #6fbb95;
}

 a:hover {
        color: #6fbb95;
   }





 /* Slider search page */


#slider, .wrap, .slide-content {

    margin : 0;
    padding : 0;
    font-family : Arial Arial, Helvetica, sans-serif;
    width : 100%;
    height : 80vh;
    overflow-x: hidden;

}




.wrap,slider {

    position :relative;

}

.slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.slide1 {
    background-image : url('http://localhost:59345/Images/bg_15.jpg');
    
    
    
}

.slide2 {
    background-image: url('http://localhost:59345/Images/bg_7.jpg');
    
}

.slide3 {
    background-image: url('http://localhost:59345/Images/bg_5.jpg');
    
}


/* Search Bar for various sizes */
@media (min-width: 768px)  {

    .search-box {
        position: absolute;
        top: 20%;
        margin-top: 50px;
        left: 0;
        right: 0;
        
    }

}


/* Search Bar for various sizes */
@media (max-width: 767px) {

    .search-box {
        position: absolute;
        top: 10%;
        margin-top: 50px;
        left: 0;
        right: 0;
    }
}

.color-white {
    color:white;
    background-color:red
   
}


.search-input {

    background-color:black;
    color:white;
    max-width:100%;
    height:50px;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.form-control {
    
    border:none;
    opacity:0.8;
}


.test-color {
    color: #ffffff;
    font-weight:bolder;
}





/* Collpasing the nav bar */
@media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
}


/* This is in built style. Need to over ride for search bar*/

select,
textarea,
input{
    max-width: 280px;
}


    .ui-datepicker, select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        background: #000000;
        color: #EEE;
        z-index:1001;
     
        
    }


.ui-datepicker-calendar {
    z-index: 4000 !important;
}


.ui-datepicker-prev span {
    display: none;
}


/* Cards */

.card {
    border-style:solid;
    padding: 10px;
    border-width: 1px;
}


    .card:hover {

        border-color: brown;
        transition: ease-in 1s;
    }


.card-wrapper {

    margin-top : 50px;

}

.dot-green {
    height: 18px;
    width: 18px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    color:white;
    font-size:22px
}

.dot-red {
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}


.dot-blue{
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.dot-purple {
    height: 18px;
    width: 18px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
}

i {
    color: #f73572;
}





@media only screen and (max-width: 766px) {
    .collapsing, .in {
        background-color: #f7f7f7;
    }

        .collapsing ul li a, .in ul li a {
            color: #555 !important;
        }

            .collapsing ul li a:hover, .in ul li a:hover {
                color: #f1f1f1 !important;
            }
}


hr {
    border-color: green;
}



/*
span{
    font-size :1.2em;
}
    */




/* Registration Screen */

.page-slider {

    height: 60vh;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
}


.dropdown-event {

    background-color:chartreuse;
}


/* Input color*/

.color-green {
    border: thin;
    border-color: black;
    background: linear-gradient(to right, rgba(228,255,153,1) 0%, rgba(177,238,119,0.2) 100%);
    opacity: 1;
    color: black;
    height: 40px;
    max-width: 350px;
}


.check-box {
    background: linear-gradient(to right, rgba(228,255,153,1) 0%, rgba(177,238,119,0.2) 100%);
}


.text-danger {
    color:red;
}