﻿@model IEnumerable<Assignment_1.Models.Forum>

@{
    ViewBag.Title = "RunnerIndex";
    Layout = "~/Views/Shared/_searchlayout.cshtml";
}


<div class="container" style="margin-top:20px;">

    <h2> Event Forums </h2>


    <table class="table" id="data-table-selector">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.ActionLink(item.Event.EventName, "Details", "ForumMessages", new { id = item.ForumId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>


@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")



    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>


}
