﻿@model Assignment_1.Models.BookingViewModel

@{
    ViewBag.Title = "EventRegistration";
    Layout = "~/Views/Shared/_searchlayout.cshtml";
}


<div class="page-slider" style="background-image:url(http://localhost:59345/Images/bg_13.jpg)">

    

</div>


<div class="container" style="margin-top:30px;">
    <h1 style="color:green;text-transform:uppercase">@Model.Event.EventName</h1>
    <hr />
    
    <div class="col-sm-6">


        @if (Model.Bookings == null)
        {
        <div class="col-sm-12">

            <h2> REGISTER </h2>

            </div>

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-sm-12">
                <h4 style="margin-top:10px"> Select the type of event </h4>
                @Html.DropDownListFor(model => model.Bookings.RaceType, (SelectList)ViewBag.EventType, new { @class = "form-control  dropdown-event" })
                @Html.HiddenFor(model => model.Bookings.Event)

            </div>


            <div class="col-sm-12 5K" style="margin-top:30px;display:none">
                <p> The 5K run is a long-distance road running competition over a distance of five kilometres (3.107 miles). Also referred to as the 5K road race, 5 km, or simply 5K, it is the shortest of the most common road running distances.</p>
            </div>

            <div class="col-sm-12 10K" style="margin-top:30px;display:none">
                <p>The 10K run is a long-distance road running competition over a distance of ten kilometres (6.2 miles). Also referred to as the 10K road race, 10 km, or simply 10K, it is one of the most common types of road running event, alongside the shorter 5K and longer half marathon and marathon. It is usually distinguished from the 10,000 metres track running event by stating the distance in kilometres, rather than metres.</p>
            </div>

            <div class="col-sm-12 HM" style="margin-top:30px;display:none">
                <p>A half marathon is a road running event of 21.0975 km (13 mi 192½ yd)—half the distance of a marathon.[1] It is common for a half marathon event to be held concurrently with a marathon, using almost the same course with a late start, an early finish or shortcuts.</p>
            </div>

            <div class="col-sm-12 FM" style="margin-top:30px;display:none">
                <p>The marathon is a long-distance race, completed by running, walking, or a run/walk strategy. There are also wheelchair divisions. The marathon has an official distance of 42.195 kilometres (26.219 miles; 26 miles 385 yards),[1] usually run as a road race.</p> 
            </div>

            <div class="col-sm-12" style="margin-top:30px">
                <button class="btn btn-success" name="btn" value="@Model.Event.EventId" type="submit">BOOK NOW</button>
            </div>
             }

         }
        else
        {

            <div class="col-sm-12">
                
                <h3> REGISTRATION DETAILS </h3>

            </div>

            <div class="col-sm-12">

                @if (Model.Bookings.Status)
                {

                    <h4>
                        Booking status :
                        <span style="color:green">

                            ACTIVE <i class="fas fa-check"></i>

                        </span>
                    </h4>

                    <h4>
                        Booking ID :

                        <span>

                            @Model.Bookings.BookingId


                        </span>


                    </h4>

                    <h4>
                        Your Event:

                        <span>

                            @Model.Bookings.RaceType


                        </span>


                    </h4>



                    @Html.ActionLink("Cancel Booking", "Cancel", "Booking", new { id = Model.Event.EventId }, new { @class = "btn btn-success" })


                }
                else
                {
                    <h3>
                        Booking status :
                        <span style="color:brown">

                            CANCELLED <i class="fas fa-ban"></i>

                        </span>
                    </h3>
                }



            </div>
        }


    </div>

    <div class="col-sm-6" style="margin-top:10px;">

        <div class="col-sm-12">
            <h4><i class="fas fa-map-marker-alt"></i>  ADDRESS </h4>
            <h4> @Model.Event.Location </h4>
        </div>

        <div class="col-sm-12" style="margin-top:30px;">
            <h4><i class="far fa-calendar-alt"></i>  DATE </h4>
            <h4> @Model.Event.DateOfEvent.ToShortDateString() </h4>
        </div>

        <div class="col-sm-12" style="margin-top:30px;">

            @if (Model.Event.EventType == "1")
            {
                <h4><i class="fas fa-shoe-prints"></i> TYPE OF EVENT </h4>
                <h4> Community Run</h4>
            }
            else
            {
                <h4><i class="fas fa-shoe-prints"></i></h4>
                <h4> Professional Event</h4>
            }

        </div>

        <div class="col-sm-12" style="margin-top:30px;">

            <h4> AVAILABLE RACES </h4>

            <span>

                @if (Model.Event.FivekmRace)
                {

                    <span class="dot-green"></span><span> 5KM Race</span>


                }



                @if (Model.Event.TenkmRace)
                {

                    <span class="dot-red"></span>
                    <span>10 KM Race</span>


                }



                @if (Model.Event.HalfMarathon)
                {

                    <span class="dot-blue"> </span>
                    <span> Half Marathon</span>

                }


                @if (Model.Event.FullMarathon)
                {
                    <span class="dot-purple"></span>
                    <span> Full Marathon</span>
                }

            </span>

            </div>


    </div>
    
    



</div>
