﻿@using Microsoft.AspNet.Identity

@model Assignment_1.Models.ForumViewModel

@{
    ViewBag.Title = "ForumMessages";
    Layout = "~/Views/Shared/_searchlayout.cshtml";
}


<div class="container" style="margin-top:20px;">

    <h2>Forum For @Model.Event.EventName</h2>



    <button class="btn btn-success" id="create-new"> ADD NEW POST </button>


    @if(User.IsInRole("Organizer")) { 

    @Html.ActionLink("SEND EMAIL", "SendEmail", "ForumMessages", new { @id = Model.Event.EventId }, new {@class = "btn btn-success"})

    }

    <h3 class="text-danger">@ViewBag.Message</h3>


    @using (Html.BeginForm("Details", "ForumMessages", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="well" id="create-form" style="display:none; margin-top:20px">

            <h3> CREATE NEW FORUM POST </h3>

            <div class="row">

                <div class="col-md-12">

                    @Html.EditorFor(Model => Model.ForumMessagesform, new { htmlAttributes = new { @class = "form-control color-green text-area" } })
                    @Html.ValidationMessageFor(model => model.ForumMessagesform, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-12" style="margin-top:20px">

                    <label class="form-control"> Upload an Image (Max size : 4Mb) </label>
                    <input type="file" name="postedFile" id="postedFile" class="btn btn-default" accept="image/png, image/jpeg, image/gif" />

                </div>


            </div>


            <div class="row" style="margin-top:10px; padding:12px">
                <div class="g-recaptcha" data-sitekey="6LflgnQUAAAAAD_CaHAoky2aI8a9thEtz0rxRaMl"></div>

            </div>


            <div class="row" style="margin-top:20px;">

                <div class="col-md-2">
                    <button type="submit" name="btn" value=@Model.Event.EventId class="btn btn-success"> CREATE </button>
                </div>
                <div class="col-md-2">
                    <input type="reset" id="cancel" value="Cancel" class="btn btn-warning" />
                </div>

            </div>

        </div>



    }


   

    





    @foreach (var item in Model.ForumMessages)

    {

        if (item.Active != false)

        {

            <div class="well" style="margin-top:10px">



                <div>
                    <div style="float:left">

                        <p> @item.Date.DayOfWeek</p>
                    </div>

                    @if (item.ApplicationUser.Id != User.Identity.GetUserId())
                    {

                        if (Model.ForumLike.Count() == 0)
                        {

                            <div style="float:right">
                                <i class="fas fa-3x fa-arrow-up" id="up-@item.ForumMessageId"></i>
                                <i class="fas fa-3x  fa-arrow-down @item.ForumMessageId-arrowdown" id="down-@item.ForumMessageId"></i>
                            </div>

                        }


                        else
                        {
                            var found = false;

                            foreach (var li in Model.ForumLike)
                            {



                                if (li.ForumMessages.ForumMessageId == item.ForumMessageId)
                                {


                                    if (li.Votes == 0)
                                    {

                                        <div style="float:right">
                                            <i class="fas fa-3x fa-arrow-up" id="up-@item.ForumMessageId"></i>
                                            <i class="fas fa-3x  fa-arrow-down @item.ForumMessageId-arrowdown" id="down-@item.ForumMessageId"></i>
                                        </div>

                                        found = true;

                                    }

                                    if (li.Votes == 1)
                                    {

                                        <div style="float:right">
                                            <i class="fas fa-3x fa-arrow-up pink" id="up-@item.ForumMessageId"></i>
                                            <i class="fas fa-3x  fa-arrow-down @item.ForumMessageId-arrowdown" id="down-@item.ForumMessageId"></i>
                                        </div>

                                        found = true;


                                    }

                                    if (li.Votes == -1)
                                    {

                                        <div style="float:right">
                                            <i class="fas fa-3x fa-arrow-up " id="up-@item.ForumMessageId"></i>
                                            <i class="fas fa-3x  fa-arrow-down pink @item.ForumMessageId-arrowdown" id="down-@item.ForumMessageId"></i>
                                        </div>


                                        found = true;

                                    }


                                }


                            }

                            if (found == false)
                            {

                                <div style="float:right">
                                    <i class="fas fa-3x fa-arrow-up" id="up-@item.ForumMessageId"></i>
                                    <i class="fas fa-3x  fa-arrow-down @item.ForumMessageId-arrowdown" id="down-@item.ForumMessageId"></i>
                                </div>

                            }
                        }

                        <div style="margin-bottom:20px; margin-top:20px;clear:both ">
                            <div style="float:right">
                                <label style="display:inline-block"> Total Votes </label>
                                <input style="display:inline-block;" type="text" name="votes"  class="vote form-control color-green" readonly value="@item.Votes" />
                            </div>
                        </div>

                    }
                    else
                    {

                        <div style="float:right">


                            @Html.ActionLink("EDIT", "Edit", "ForumMessages", new { @id = item.ForumMessageId }, new { @class = "btn btn-warning" })


                            @if (User.IsInRole("Runner") || User.IsInRole("Organizer"))

                            {

                                @Html.ActionLink("DELETE", "Delete", "ForumMessages", new { @id = item.ForumMessageId }, new { @class = "btn btn-danger" })


                            }

                            <div style="margin-bottom:20px; margin-top:20px;clear:both ">
                                <div style="float:right">
                                    <label style="display:inline-block"> Total Votes </label>
                                    <input style="display:inline-block" type="text" name="votes" readonly class="vote form-control color-green" value="@item.Votes" />
                                </div>
                            </div>

                        </div>


                    }

                </div>




                <div style="clear:both;padding:5px">
                    @Html.Raw(item.Message)

                    @if (item.Image != null) {


                        <img class="img-thumbnail img-responsive" style="margin-top:10px;max-height:400px;max-width:80%"  src='@Url.Content("~/Uploads/" + item.Image )'/>


                    }



                </div>
                <hr>

                <p> Author :  @item.ApplicationUser.UserName </p>
                <p> Date :  @item.Date</p>


                @if (User.IsInRole("Organizer"))
                {
                <div style="float:right">

                    @Html.ActionLink("DISAPPROVE", "Disapprove", "ForumMessages", new { @id = item.ForumMessageId }, new { @class = "btn btn-danger" })

                </div>


                }


                <div style="clear:both"></div>

            </div>


        }
        else
        {

            <div class="well">
                <div>

                    <p> This post was removed by moderator</p>

                </div>
                <hr>

                <p> @item.ApplicationUser.UserName </p>

            </div>




        }

    }



</div>


<style>
    i {
        color: #D3D3D3;
        cursor: pointer;
    }

    .pink {
        color: deeppink;
    }
</style>

@section Scripts {

    <script>

        // code for upvote

        $(".fa-arrow-up").on("click", function () {

            var id = $(this).attr("id");
            var item = id.split('-')[1];
            var upVote = this;
            var parent = $(this).parent('div').get(0);
            var grandParent = $(parent).parent('div').get(0);
            var downVote = parent.querySelector(".fa-arrow-down");
            var votes = grandParent.querySelector(".vote");
             //console.log(votes);
            //console.log(votes.value);

            // code to remove and update classes

            if ($(downVote).hasClass("pink")) {

                $(downVote).removeClass("pink");
                $.notify("Your downvote has been removed", "success");
                grandParent.querySelector(".vote").value = parseInt(grandParent.querySelector(".vote").value) + 1;

                

            }
            else {

                $(downVote).removeClass("pink");


                if ($(upVote).hasClass("pink")) {

                    $.notify("Your upvote has been removed ", "success");
                    grandParent.querySelector(".vote").value = parseInt(grandParent.querySelector(".vote").value) - 1;

                    
                }
                else {
                    $.notify("You have upvoted ", "success");
                    grandParent.querySelector(".vote").value = parseInt(grandParent.querySelector(".vote").value) + 1;

                }


                $(upVote).toggleClass("pink");

            }





            $.ajax({
                url: '@Url.Action("Upvote", "ForumMessages")',
                type: 'POST',
                data: { 'id': item },
                cache: false,
                success: function () {

                    $(this).toggleClass("pink");

                }



            });


        });




        $(".fa-arrow-down").on('click', function () {


            var id = $(this).attr("id");
            var item = id.split('-')[1];

            var downVote = this;



            // up vote color removed

            var parent = $(this).parent('div').get(0);

            var upVote = parent.querySelector(".fa-arrow-up");
            var grandParent = $(parent).parent('div').get(0);


            if ($(upVote).hasClass("pink")) {

                $(upVote).removeClass("pink");
                $.notify("Your upvote has been removed", "success");
                grandParent.querySelector(".vote").value = parseInt(grandParent.querySelector(".vote").value) - 1;


            }
            else {

                $(upVote).removeClass("pink");


                if ($(downVote).hasClass("pink")) {

                    $.notify("Your downvote has been removed ", "success");
                    grandParent.querySelector(".vote").value = parseInt(grandParent.querySelector(".vote").value) + 1;

                }
                else {
                    $.notify("You have downvoted ", "success");
                    grandParent.querySelector(".vote").value = parseInt(grandParent.querySelector(".vote").value) - 1;


                }

                $(downVote).toggleClass("pink");

                
                


            }





            $(upVote).removeClass("pink");

             $.ajax({
                url: '@Url.Action("Downvote", "ForumMessages")',
                type: 'POST',
                data: { 'id': item },
                cache: false,
                success: function () {

                    $(this).toggleClass("pink");



                }



            });



        });



        $(document).ready(function () {


            $("#create-new").on('click', function () {


                $("#create-form").css('display', 'block');
                $('#create-new').css('display', 'none');


            });


            $("#cancel").on('click', function () {

                $("#create-form").css('display', 'none');
                $('#create-new').css('display', 'block');
            });


        });



        tinymce.init({


            selector: '.text-area'


        });





    </script>


}