﻿@model Assignment_1.Models.ForumEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_searchlayout.cshtml";
}

<div class="container" style="margin-top:20px">

  

    @using (Html.BeginForm(Html.BeginForm("Edit", "ForumMessages", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()


    <div class="well" id="create-form" style="display:block; margin-top:20px">

        <h3> EDIT FORUM POST </h3>



        <div class="row">

            @Html.HiddenFor(model => model.Id)



            <div class="col-md-12">

                @Html.EditorFor(Model => Model.Message, new { htmlAttributes = new { @class = "form-control color-green text-area" } })
                @Html.ValidationMessageFor(model => Model.Message, "", new { @class = "text-danger" })

            </div>


            <div class="col-md-12" style="margin-top:20px">

                <label class="form-control"> Upload an Image (Max size : 4Mb) </label>
                <input type="file" name="postedFile" id="postedFile" class="btn btn-default" accept="image/png, image/jpeg, image/gif" />
                <p> If you select a new image it will replace your old image </p>
            </div>



        </div>


        <div class="row" style="margin-top:10px; padding:12px">
            <div class="g-recaptcha" data-sitekey="6LflgnQUAAAAAD_CaHAoky2aI8a9thEtz0rxRaMl"></div>

        </div>
        <h5 class="text-danger">@ViewBag.Error</h5>

        <div class="row" style="margin-top:20px;">

            <div class="col-md-2">
                <button type="submit" name="btn" class="btn btn-success"> Save </button>
            </div>
            <div class="col-md-2">
                <input type="reset" id="cancel" value="Cancel" class="btn btn-warning" />
            </div>

        </div>

    </div>
    }

    </div>




    @*
    <div class="form-horizontal">
        <h4>ForumMessages</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ForumMessageId)

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Votes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Votes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Votes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    *@


<script>

    

        tinymce.init({


            selector: '.text-area'


        });


</script>