﻿@using Microsoft.AspNet.Identity

@model Assignment_1.Models.ForumViewModel

@{
    ViewBag.Title = "ForumMessages";
    Layout = "~/Views/Shared/_searchlayout.cshtml";
}


<div class="container" style="margin-top:20px;">

    <h2>SEND EMAIL TO FORUM MEMBERS </h2>



   
    <h3 class="text-danger">@ViewBag.Message</h3>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="well" id="create-form" margin-top:20px">

            <h3> SEND EMAIL TO FORUM MEMBERS</h3>

            <p> Type your email as required and click send. It will be delivered to all members registered in the forum</p>

            <div class="row">

                <div class="col-md-12">

                    @Html.EditorFor(Model => Model.ForumMessagesform, new { htmlAttributes = new { @class = "form-control color-green text-area" } })
                    @Html.ValidationMessageFor(model => model.ForumMessagesform, "", new { @class = "text-danger" })

                </div>

            </div>


            <div class="row" style="margin-top:10px; padding:12px">
                <div class="g-recaptcha" data-sitekey="6LflgnQUAAAAAD_CaHAoky2aI8a9thEtz0rxRaMl"></div>

            </div>


            <div class="row" style="margin-top:20px;">

                <div class="col-md-2">
                    <button type="submit" name="btn" value="@Model.Event.EventId" class="btn btn-success"> SEND </button>
                </div>
                <div class="col-md-2">
                    <input type="reset" id="cancel" value="Cancel" class="btn btn-warning" />
                </div>

            </div>

        </div>



    }



</div>


<style>
    i {
        color: #D3D3D3;
        cursor: pointer;
    }

    .pink {
        color: deeppink;
    }
</style>

@section Scripts {

    <script>


        tinymce.init({


            selector: '.text-area'


        });





    </script>


}