﻿@model Assignment_1.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_loginLayout.cshtml";
    ViewBag.Title = "REGISTER";

}

<div id="register-head">

    <div class="text-center" id="Register">
        <h2 style="margin-top:40px;"> @ViewBag.Title </h2>
    </div>

    <div class="text-center" style="margin-top:20px"> <p> SELECT ANY OF THE OPTIONS BELOW </p></div>

    <hr />

</div>


<div id="user-type" style="display:block">

    <div class="col-lg-6 col-md-6  runner text-center" style="height:60vh">


        <h1 id="runner-text"> RUNNER</h1>

    </div>



    <div class="col-lg-6 col-md-6  organizer text-center" style="height:60vh">


        <h1 id="runner-text"> ORGANIZER </h1>

    </div>


</div>





<!--
    <div class="user-type text-center">

    <div class=" col-lg-6 col-md-6  col-sm-12 col-xs-12 text-center runner" id="runner-image" style="border-style:ridge; height:50vh;margin-top:20px;">


        <h1 id="runner-text"> RUNNER</h1>



    </div>


    <div class=" col-lg-6 col-md-6  col-sm-12 col-xs-12 text-center organizer" style="border-style:ridge; height:50vh;margin-top:20px;">

        <h1 class="text-capitalize"> ORGANIZER </h1>

    </div>


</div>

-->










<div class="row" id="register-form" style="display:none; margin-top:60px; overflow:hidden; max-width:100%">



    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
    {

        

        @Html.AntiForgeryToken()
        <h2 class="col-md-offset-4 col-lg-offset-4 col-sm-offset-4 col-xs-offset-2 col-xs-10" style="margin-bottom:10px">CREATE NEW ACCOUNT</h2>

        
        <hr style="width:70%" />

        <div class="form-group" style="padding-top:40px; margin-top:20px;">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-lg-4 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-10 control-label" })
            <div class="col-md-8 col-lg-8 col-sm-8  col-xs-offset-2 col-xs-10 col-sm-offset-0">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control color-green" })
                @Html.ValidationMessageFor(m => m.Email,"", new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 col-lg-4 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-10 control-label" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-offset-2 col-xs-10 col-sm-offset-0">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control color-green" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-lg-4 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-10 control-label" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-offset-2 col-xs-10 col-sm-offset-0">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control color-green" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="user-role" style="display:none">
            @Html.LabelFor(m => m.UserRole, new { @class = "col-md-4 col-lg-4 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-10 control-label" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-offset-2 col-xs-10 col-sm-offset-0">
                @Html.TextBoxFor(m => m.UserRole, new { @class = "form-control user-role-text"  })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-8 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-8 col-sm-8 col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-success" value="REGISTER" />
            </div>
            <div class=" col-md-offset-4  col-sm-offset-4 col-md-8 col-lg-offset-4 col-lg-8 col-sm-8 col-xs-offset-2 col-xs-10" style="margin-top:20px">
                <input type="reset" class="btn btn-success go-back-button" value="GO BACK" />
            </div>
        </div>
    }


   

</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/login_css")

}
