﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width  initial-scale=1.0" />
    <title>Run 360</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body class="login-body">

    <div class="navbar navbar-default navbar-fixed-top" style="height:70px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RUN 360", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse  collapse" style="float:right;">
                <ul class="nav navbar-nav" style="padding:10px">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>

            </div>
        </div>
    </div>


    <div class="search-body">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.magnific-popup.js"></script>

    @RenderSection("scripts", required: false)

    <script>

        $(function () {

            $(".date-picker").datepicker(
                {



                    dateFormat: 'dd-mm-yy',
                    changeYear: true,
                    changeMonth: true,
                    hideIfNoPrevNext: true,
                    orientation: 'bottom',
                    beforeShow: function (input) {
                        $(input).css({
                            "position": "relative",
                            "z-index": 999999
                        });
                    },
                    onClose: function () { $('.ui-datepicker').css({ 'z-index': 0 }); }

                });

        });



        // Place search 
        function activatePlacesSearch() {

            var input = document.getElementById("location");
            console.log(input);
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                console.log(place.address_components);
            });

        }

    </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-robUfxNpka3hxgsp2TbjwKpVM0Fufo&libraries=places&callback=activatePlacesSearch"></script>


</body>
</html>

