﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Organizer"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

    <li>
        @Html.ActionLink("My Events", "Index", "Events", routeValues: null, htmlAttributes: new { title = "My Events" })
    </li>
    <li>
        @Html.ActionLink("Create Event", "Create", "Events", routeValues: null, htmlAttributes: new { title = "Create Event" })
    </li>
    <li>
        @Html.ActionLink("Forum", "ManageForum", "Forum", routeValues: null, htmlAttributes: new { title = "My Events" })
    </li>
    <li>
        @Html.ActionLink("Profile", "Index", "OrganizerProfiles", routeValues: null, htmlAttributes: new { title = "Profile" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}

else if (Request.IsAuthenticated && User.IsInRole("Runner"))
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

  
            <li>
                @Html.ActionLink("Forum", "RunnerIndex", "Forum", routeValues: null, htmlAttributes: new { title = "My Events" })
            </li>
            <li>
                @Html.ActionLink("Profile", "Index", "RunnerProfiles", routeValues: null, htmlAttributes: new { title = "Profile" })
            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }

}


else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
