﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width  initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <title>Run 360</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-body">

    <div class="navbar navbar-default navbar-fixed-top" style="height:70px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RUN 360", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav" style="padding:10px">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>

            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/anime")
    <script src="~/Scripts/siteanime.js"></script>
    @RenderSection("scripts", required: false)

    
</body>
</html>
