﻿

<div class="container" style="margin-top:40px;">

    <h1 class="text-center"> UPCOMING EVENTS @Model.Event.EventName </h1>

    <div class="card-wrapper">

        <div class="row">
            <div class="col-sm-3">
                <div class="card bg-dark">
                    <img class="card-img-top img-responsive" src='http://localhost:59345/Images/bg_2.jpg' />
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-dark">
                    <img class="card-img-top img-responsive" src='http://localhost:59345/Images/bg_2.jpg' />
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-dark overlay">
                    <img class="card-img-top img-responsive" src='http://localhost:59345/Images/bg_2.jpg' />
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-dark">
                    <img class="card-img-top img-responsive" src='http://localhost:59345/Images/bg_2.jpg' />
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


