﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width  initial-scale=1.0" />
    <title>Run 360</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="login-body">

    <div class="navbar navbar-default navbar-fixed-top" style="height:70px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RUN 360", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav" style="padding:10px">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>

            </div>
        </div>
    </div>


    <div class="search-body">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/carousel.js"></script>
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
          rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    @RenderSection("scripts", required: false)



    <script>


        // Library to match height

        $(document).ready(function () {


            $('.card').matchHeight();


        })


        $(function () {

            $(".date-picker").datepicker(
                {



                    dateFormat: 'dd-mm-yy',
                    changeYear: true,
                    changeMonth: true,
                    hideIfNoPrevNext: true,
                    orientation: 'bottom',
                    minDate: 0,
                    beforeShow: function (input) {
                        $(input).css({
                            "position": "relative",
                            "z-index": 999999
                        });
                    },
                    onClose: function () { $('.ui-datepicker').css({ 'z-index': 0 }); }

                });

        });



        // Function for scrolling the window once search results are available

        $(document).ready(function () {
            // Handler for .ready() called.

            var item = document.querySelector(".search-results");

            if (item != undefined) {

                $('html, body').animate({
                    scrollTop: $('.search-results').offset().top
                }, 'slow');

            }


        });



        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });


        $(document).ready(function () {


            var item = document.querySelector(".dropdown-event");
            console.log(item);
            if (item.value == 1) {


                $(".5K").css("display", "block");
                $(".10K").css("display", "none");
                $(".HM").css("display", "none");
                $(".FM").css("display", "none");
            }
            if (item.value == 2) {

                $(".5K").css("display", "none");
                $(".10K").css("display", "block");
                $(".HM").css("display", "none");
                $(".FM").css("display", "none");

            }
            if (item.value == 3) {

                $(".5K").css("display", "none");
                $(".10K").css("display", "none");
                $(".HM").css("display", "block");
                $(".FM").css("display", "none");

            }
            if (item.value == 4) {

                $(".5K").css("display", "none");
                $(".10K").css("display", "none");
                $(".HM").css("display", "none");
                $(".FM").css("display", "block");

            }


            $(".dropdown-event").on('change', function () {

                if (item.value == 1) {


                    $(".5K").css("display", "block");
                    $(".10K").css("display", "none");
                    $(".HM").css("display", "none");
                    $(".FM").css("display", "none");
                }
                if (item.value == 2) {

                    $(".5K").css("display", "none");
                    $(".10K").css("display", "block");
                    $(".HM").css("display", "none");
                    $(".FM").css("display", "none");

                }
                if (item.value == 3) {

                    $(".5K").css("display", "none");
                    $(".10K").css("display", "none");
                    $(".HM").css("display", "block");
                    $(".FM").css("display", "none");

                }
                if (item.value == 4) {

                    $(".5K").css("display", "none");
                    $(".10K").css("display", "none");
                    $(".HM").css("display", "none");
                    $(".FM").css("display", "block");

                }



            });


        });









    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-robUfxNpka3hxgsp2TbjwKpVM0Fufo&libraries=places&callback=activatePlacesSearch"></script>

</body>
</html>

