﻿@model Assignment_1.Models.OrganizerProfile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h3 style="margin-top:50px"> EDIT PROFILE </h3>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProfileId)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-10 col-sm-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control color-green" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-10 col-sm-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control color-green" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{ Html.EnableClientValidation(false); }
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-10 col-sm-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control date-picker color-green" } })
                @{ Html.EnableClientValidation(true); }
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}