﻿@model Assignment_1.Models.OrganizerProfile

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}


<div class="container">
    <h4 style="margin-top:60px">PROFILE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

    </dl>
</div>
<div  class="col-md-offset-1 col-sm-offset-1" >
    @Html.ActionLink("Edit Profile", "Edit" , null, new {@class = "btn btn-success" }) 
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}