﻿@model Assignment_1.Models.RunnerProfile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}


<div class="container" style="margin-top:50px">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>
                EDIT PROFILE </h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProfileId)

                <div class="form-group" style="margin-top:40px">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-sm-10 color-green" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:30px">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control col-sm-10 color-green" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:30px">
                    @{ Html.EnableClientValidation(false); }
                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control date-picker col-sm-10 color-green" } })
                        @{ Html.EnableClientValidation(true); }
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:30px">
                    @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control col-sm-10 color-green" } })
                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:30px">
                    @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control col-sm-10 color-green" } })
                        @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:30px">
                    <div class="col-md-offset-2 col-sm-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
        </div>
    }

   



</div>