﻿@model Assignment_1.Models.RunnerProfile

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dateLayout.cshtml";
}


<div class="container">



    <h3 style="margin-top:50px"> PROFILE </h3>
    <hr />
    <!--
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

    </dl>

        -->

    <div class="row" style="margin-top:30px">
        <span class="col-md-3 col-sm-3">  @Html.DisplayNameFor(model => model.FirstName)  </span>
        <span class="col-sm-9 col-md-9">  : @Html.DisplayFor(model => model.FirstName)  </span>
    </div>

    <div class="row" style="margin-top:30px">
        <span class="col-md-3 col-sm-3">  @Html.DisplayNameFor(model => model.LastName)  </span>
        <span class="col-sm-9 col-md-9"> :  @Html.DisplayFor(model => model.LastName)  </span>
    </div>

    <div class="row" style="margin-top:30px">
        <span class="col-md-3 col-sm-3">  @Html.DisplayNameFor(model => model.DateOfBirth)  </span>
        <span class="col-sm-9 col-md-9">  : @Html.DisplayFor(model => model.DateOfBirth)  </span>
    </div>

    <div class="row" style="margin-top:30px">
        <span class="col-md-3 col-sm-3">  @Html.DisplayNameFor(model => model.Height)  </span>
        <span class="col-sm-9 col-md-9">  : @Html.DisplayFor(model => model.Height)  </span>
    </div>

    <div class="row" style="margin-top:30px">
        <span class="col-md-3 col-sm-3">  @Html.DisplayNameFor(model => model.weight)  </span>
        <span class="col-sm-9 col-md-9">  : @Html.DisplayFor(model => model.weight)  </span>
    </div>


    <div class=" col-md-1  col-sm-1" style="margin-top:40px">
        @Html.ActionLink("Edit", "Edit", "RunnerProfiles", null, new { @class = "btn btn-success" })
    </div>

</div>


