﻿@model Assignment_1.Models.HomeModel

@{
    Layout = "~/Views/Shared/_searchLayout.cshtml";
    ViewBag.Title = "Contact";
}

<div class="wrap">


    <div id="slider">

        <div class="container search-box">
            <div class="text-center">

                <h2 class="test-color"> SEARCH FOR RUNNING EVENTS </h2>
            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="row">

                <div class=" col-lg-9 col-md-9 col-sm-8 col-xs-12 padding-0">
                    @Html.EditorFor(model => model.SearchViewModel.SearchText, new { htmlAttributes = new { @class = "form-control form-control-lg search-input", @Placeholder = "SEARCH FOR RUNNING EVENTS" , autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.SearchViewModel.SearchText, "", new { @class = "color-white"  })
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 padding-0">

                    @{ Html.EnableClientValidation(false);}
                    @Html.EditorFor(model => model.SearchViewModel.StartDate, new { htmlAttributes = new { @class = "form-control form-control-lg search-input date-picker", @Placeholder = "FROM", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.SearchViewModel.StartDate, "", new { @class = "color-white" })
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 padding-0">


                    @Html.EditorFor(model => model.SearchViewModel.EndDate, new { htmlAttributes = new { @class = "form-control form-control-lg search-input date-picker", @Placeholder = "TO", autocomplete = "off" } })
                    @{ Html.EnableClientValidation(true);}
                    @Html.ValidationMessageFor(model => model.SearchViewModel.EndDate, "", new { @class = "color-white" })
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <button class="btn-success btn btn-lg"> Search </button>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            </div>


            }


        </div>


        <div class="slide slide1">

            <div class="slide-content">

            </div>

        </div>

        <div class="slide slide2">

            <div class="slide-content">

            </div>

        </div>

        <div class="slide slide3">

            <div class="slide-content">

            </div>

        </div>

    </div>

</div>


<div class="text-center" style="margin-top:10px">

    <i class="fas fa-4x fa-arrow-alt-circle-down" style="color:forestgreen"></i>

</div>



@if (Model.ResultAvailable)

{
    <div class="search-results"></div>

    <div class="container" style="margin-top: 60px; margin-bottom:60px;">

        <h1> SEARCH RESULTS </h1>

        <hr/>


        @if (Model.SearchResult.Count == 0)
        {

            <h2> No Results for your search </h2>
        }
        else
        {
            foreach (var item in Model.SearchResult)
            {

                <div class="card-wrapper">

                    <div class="col-md-3">
                        <div class="card bg-dark">
                            <img class="card-img-top img-responsive" src='@Url.Content("~/Images/bg_2.jpg")' />
                            <div class="card-body">
                                <h4 class="card-title text-uppercase text-center">@item.EventName </h4>
                                <p class="card-text"><i class="far fa-calendar-alt"></i> @item.DateOfEvent.ToShortDateString()</p>
                                <p class="card-text">
                                    <i class="fas fa-map-marker-alt"></i>
                                    @item.Location
                                </p>
                                @if (item.EventType == "1")
                                {
                                    <p class="card-text"><i class="fas fa-shoe-prints"></i> Community Run</p>
                                }
                                else
                                {
                                    <p class="card-text"><i class="fas fa-shoe-prints"></i> Professional Event</p>
                                }


                                <p class="card-text">

                                    @if (item.FivekmRace)
                                    {

                                        <span class="dot-green"></span>


                                    }



                                    @if (item.TenkmRace)
                                    {

                                        <span class="dot-red"></span>


                                    }



                                    @if (item.HalfMarathon)
                                    {

                                        <span class="dot-blue"></span>


                                    }


                                    @if (item.FullMarathon)
                                    {
                                        <span class="dot-purple"></span>
                                    }


                                </p>

                                <p class="card-text" style="margin-top:-10px;">

                                    @if (item.FivekmRace)
                                    {

                                        <span>5K</span>


                                    }



                                    @if (item.TenkmRace)
                                    {

                                        <span>10K</span>


                                    }



                                    @if (item.HalfMarathon)
                                    {

                                        <span>HM</span>


                                    }


                                    @if (item.FullMarathon)
                                    {
                                        <span>FM</span>
                                    }


                                </p>

                                <div class="text-center">
                                    
                                        @Html.ActionLink("BOOK", "Details", "Booking", new { id = item.EventId.ToString() }, new { @class = "btn btn-success" })
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            }
        }





    </div>


}





<div class="container" style="margin-top:60px;">

    <h1 class="text-center"> UPCOMING EVENTS </h1>

    <hr/>





    <!-- Popular events -->
    <div class="row">

        @if (Model.Event != null)
        {

            foreach (var item in Model.Event)

            {



                <div class="card-wrapper">

                    <div class="col-md-3">
                        <div class="card bg-dark">
                            <img class="card-img-top img-responsive" src='@Url.Content("~/Images/bg_2.jpg")' />
                            <div class="card-body">
                                <h4 class="card-title text-uppercase text-center">@item.EventName </h4>
                                <p class="card-text"><i class="far fa-calendar-alt"></i> @item.DateOfEvent.ToShortDateString()</p>
                                <p class="card-text">
                                    <i class="fas fa-map-marker-alt"></i>
                                    @item.Location
                                </p>
                                @if (item.EventType == "1")
                                {
                                    <p class="card-text"><i class="fas fa-shoe-prints"></i> Community Run</p>
                                }
                                else
                                {
                                    <p class="card-text"><i class="fas fa-shoe-prints"></i> Professional Event</p>
                                }


                                <p class="card-text">

                                    @if (item.FivekmRace)
                                    {

                                        <span class="dot-green"></span>


                                    }



                                    @if (item.TenkmRace)
                                    {

                                        <span class="dot-red"></span>


                                    }



                                    @if (item.HalfMarathon)
                                    {

                                        <span class="dot-blue"></span>


                                    }


                                    @if (item.FullMarathon)
                                    {
                                        <span class="dot-purple"></span>
                                    }


                                </p>

                                <p class="card-text" style="margin-top:-10px;">

                                    @if (item.FivekmRace)
                                    {

                                        <span>5K</span>


                                    }



                                    @if (item.TenkmRace)
                                    {

                                        <span>10K</span>


                                    }



                                    @if (item.HalfMarathon)
                                    {

                                        <span>HM</span>


                                    }


                                    @if (item.FullMarathon)
                                    {
                                        <span>FM</span>
                                    }


                                </p>

                                <div class="text-center">
                                    @Html.ActionLink("BOOK", "Details", "Booking", new { id = item.EventId.ToString()}, new { @class = "btn btn-success" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>



</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
